*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*Intializing the website with a background color*/
    background-color: rgb(94, 96, 98);

}

.main {
    height: 100vh;
}

.profile-card{
    /*centring the card and giving it width, (bg-color --> top part)*/
    width: 19%;
    min-width: 350px;
    background-color: rgb(74, 73, 101);
    border-radius: 50px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.616);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-photo{
    /*image continer: centring the image and setting its width(radius) */
    width: 130px;
    margin: auto;
    
}

.profile-photo .img{
    /*styling the loaded image*/
    width: 100%;
    border: 2px solid white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.616);
    border-radius: 50%;
    margin-top: 20px;
    
}

.content{
    /*giving top padding and bg-color for rest of card body*/
    background-color: whitesmoke;
    width: 100%;
    padding-top: 20px;
    border-radius: 0 0 50px 50px;
}

/*---styling text----*/
.text{
    text-align: center;
}

.text h1{
    font-size: x-large;
    
    color: rgb(108, 119, 131);
    margin-bottom: 10px;
}

.text h3{
    margin-bottom: 15px;
}

.text p{
    margin: 0 35px 15px 35px;
}
/*-------------------*/



/*---------styling icons-----------*/
.icons{
    /*aligning the icons*/
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.fa {
    /*setting all icons defult style*/
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding-top: 10px;
    box-sizing: border-box;
  }
  
/*giving specific style*/
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: #0a0047;
    color: white;
}

/*----------------------------------*/


.contact{
    /*contact button container: centering and sizing*/
    margin: auto;
    width: 70%;
    margin-top: 20px;
    padding-bottom: 30px;
}

.btn{
    /*styling the button*/
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(18, 17, 19);
    background-color: #2c1f82;
    color: whitesmoke;
    text-decoration: solid;
    font-size: large;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.616);
}

/*----------------------------------*/

